version: '3.8'

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: pinnacle
      POSTGRES_PASSWORD: pinnacle_password
      POSTGRES_DB: pinnacle_analytics
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pinnacle -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5


  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://pinnacle:pinnacle_password@db:5432/pinnacle_analytics
      PS3838_LOGIN: ${PS3838_LOGIN}
      PS3838_PASSWORD: ${PS3838_PASSWORD}
      PS3838_API_BASE_URL: ${PS3838_API_BASE_URL}
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
